<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{{ footer_contact.endereco.nome }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="main.js"></script>
</head>
<body>
    <nav id="menu-principal" class="navbar navbar-expand-lg navbar-light py-0 sticky-top text-capitalize font-weight-bold">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}">
            </a>
            <a class="navbar-toggler" data-toggle="collapse" data-target="#menu-principal-itens" href="">
                <i class="navbar-toggler-icon"></i>
            </a>
            <div class="collapsed navbar-collapse" id="menu-principal-itens">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-2"><a  class="nav-link py-lg-5" href="{{ url_for('index') }}">Início</a></li>
                    <li class="nav-item px-2"><a  class="nav-link py-lg-5" href="{{ url_for('publicacoes') }}">Publicações</a></li>
                    <li class="nav-item px-2"><a  class="nav-link py-lg-5" href="{{ url_for('membros') }}">Membros</a></li>
                    <li class="nav-item px-2"><a  class="nav-link py-lg-5" href="{{ url_for('contato') }}">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="card border-0">
        <img class="card-img" src="{{ url_for('static', filename='images/banner.png') }}" alt="banner">
        <div class="card-img-overlay sr-only">
            <h1 class="display-4 text-white">{{ header_title|safe  }}</h1>
        </div>
    </header>
    <main class="container py-5">
        {% block conteudo %}{% endblock %}
    </main>
    <footer>
        <div class="container">
            <div class="row justify-content-between py-5">
                <div class="col-md-6" id="contact">
                    <h6 class="text-secondary text-uppercase">Contate-nos</h6>
                    <p>
                        {{ footer_contact.endereco.nome }} <br>
                        {{ footer_contact.endereco.instituicao }} <br>
                        {{ footer_contact.endereco.departamento }} <br>
                        {{ footer_contact.endereco.localizacao }} <br>
                        Fone: {{ footer_contact.telefone }} <br>
                        Email: {{ footer_contact.email }} <br>
                    </p>
                </div>
                <div class="col-md-4" id="search">
                    <h6 class="text-secondary text-uppercase">Busca rápida</h6>
                    <form class="form-inline" action="">
                        <label for="query" class="sr-only">Palavra chave</label>
                        <input class="form-control mr-2 border-secondary" id="query" type="text" placeholder="Pesquisar">
                        <input class="form-control mr-2 btn btn-outline-secondary" type="submit" value="Pesquisar">
                    </form>
                    <a href="http://www.ufes.br/" class="my-2" target="_blank">
                        <img class="img-fluid d-block py-4" src="{{ url_for('static', filename='images/logo-branco.png') }}">
                    </a>
                </div>
            </div>
        </div>
        <nav id="menu-rodape" class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <span class="navbar-text">Copyright &copy; {{ now.year }} - {{ footer_contact.endereco.nome }}.</span>
                <ul class="navbar-nav d-none d-md-flex">
                    <li class="nav-item"><a  class="nav-link" href="{{ url_for('index') }}">Início</a></li>
                    <li class="nav-item"><a  class="nav-link" href="{{ url_for('publicacoes') }}">Publicações</a></li>
                    <li class="nav-item"><a  class="nav-link" href="{{ url_for('membros') }}">Membros</a></li>
                    <li class="nav-item"><a  class="nav-link" href="{{ url_for('contato') }}">Contato</a></li>
                </ul>
            </div>
        </nav>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>