{% extends "base.html" %}
{% block conteudo %}
    <h2 class="text-center">{{ titulo }}</h2>
    <ul class="list-unstyled">
        {% for artigo in conteudo %}
            <li class="media my-5">
                <img class="mr-3" src="{{ artigo.miniatura }}" alt="Generic placeholder image">
                {% if not loop.last %}
                    {% set padding = "pb-4" %}
                    {% set border = "border-bottom" %}
                {% else %}
                    {% set padding = "pb-0" %}
                    {% set border = "border-bottom-0" %}
                {% endif %}
                <div class="media-body text-justify {{ padding }} {{ border }}">
                    <h5 class="mt-0 mb-1"><a href="{{ url_for('artigo') }}">{{ artigo.titulo }}</a></h5>
                    <p>
                        {{ artigo.resumo }}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}