{% extends "base.html" %}
{% block conteudo %}   
    <h2 class="text-center">Publicações</h2>
    <ul class="list-unstyled">
        <li class="media my-5">
            <img class="mr-3" src="http://placehold.it/85" alt="Generic placeholder image">
            <div class="media-body text-justify pb-4 border-bottom">
                <h5 class="mt-0 mb-1"><a href="artigo.html">List-based media object</a></h5>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem minus error neque qui consectetur incidunt, facere sint ratione omnis quibusdam quam! Necessitatibus similique totam nobis culpa. Doloremque, delectus quasi?
                </p>
            </div>
        </li>
        <li class="media my-5">
            <img class="mr-3" src="http://placehold.it/85" alt="Generic placeholder image">
            <div class="media-body text-justify pb-4 border-bottom">
                    <h5 class="mt-0 mb-1"><a href="artigo.html">List-based media object</a></h5>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem minus error neque qui consectetur incidunt, facere sint ratione omnis quibusdam quam! Necessitatibus similique totam nobis culpa. Doloremque, delectus quasi?
                </p>
            </div>
        </li>
        <li class="media my-5">
            <img class="mr-3" src="http://placehold.it/85" alt="Generic placeholder image">
            <div class="media-body text-justify pb-0 border-bottom-0">
                    <h5 class="mt-0 mb-1"><a href="artigo.html">List-based media object</a></h5>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem minus error neque qui consectetur incidunt, facere sint ratione omnis quibusdam quam! Necessitatibus similique totam nobis culpa. Doloremque, delectus quasi?
                </p>
            </div>
        </li>
    </ul>
{% endblock %}