{% extends "base.html" %}
{% block conteudo %}
    <h2 class="text-center">{{ conteudo.titulo }}</h2>
    <h4 class="text-center">
        {% for autor in conteudo.autores %}
            {{ autor }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </h4>
    <div class="row text-justify pt-5">
        <div class="col-12">
            <img class="mx-auto d-block pb-3" src="{{ conteudo.capa }}">
            <p>{{ conteudo.resumo }}</p>
            <p>Outras informações do artigo:</p>
            <ul>
                <li>Citação completa do artigo: (
                    {% for key, value in conteudo.citacoes.items %}
                        {{ key }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                )</li>
                <li>Qualis/Fator de Impacto: {{ conteudo.classificacao }}</li>
                <li>DOI: <a href="{{ conteudo.doi }}" target="_blank">{{ conteudo.doi }}</a></li>
            </ul> 
        </div>    
    </div>
{% endblock %}